env_backend
backend/backend/__pycache__/*
db.sqlite3
backend/__pycache__
test_frontend/node_modules
.env
.vscode
*.pyc
backend/__pycache__/*
login/__pycache__/*
login/test/__pycache__/*
login/migrations/__pycache__/*
sign_up/__pycache__/*
sign_up/test/__pycache__/*
sign_up/migrations/__pycache__/*
docs/__pycache__/*
logout/__pycache__*
logout/test/__pycache__/*
logout/migrations/__pycache__/*
utils/__pycache__/*
serviceAccountKey.json
